body {
  background-color: black;
}

.pageStyles {
  color: '#232129';
  padding: '96px';
  font-family: '-apple-system, Roboto, sans-serif, serif';
}

.headingStyles {
  margin-top: '0';
  margin-bottom: 64;
  max-width: 320;
}

#container {
  font-size: 25px;
  position: absolute;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#canvas1 {
  background-color: transparent;
  position: relative;
  width: 800px;
  height: 700px;
}

#slider {
  width: 100%;
}

p {
  color: white;
}

.controls {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: grey;
}

.controls,
select,
option {
  font-size: 25px;
}
